.Navbar{
    width: 100%;
    margin:auto;
    border: 2px solid rgb(236, 238, 240);
    box-shadow: 0 2px 10px rgb(155, 155, 155);
    padding: 16px;
    /* display: flex; */
    /* flex-direction: row;
    align-content: center;
    position: relative;
    background-color: white; */
    /* align-content: center; */
}

.inner-nav{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-content: center;
    /* background-color: cyan; */
    margin: auto;
}

.profile{
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
    /* display: flex;
    align-content: center; */
}

.profile-name{
    display: flex;
    align-content: center;
    /* background: crimson; */
}
.saved{
    float: right;
    margin-left: 130px;
    margin-top: 6px;
}
